<footer data-th-fragment="footer"
        style="height: 40px;margin-bottom: 0px;border-top: 1px solid #E2E2E2;margin-top: 20px">
    <p class="text-center" style="height: 40px;line-height: 40px;margin-bottom: 0px;">© 2018 <a
            href="http://sixteen.site" target="_blank">sixteen.site</a></p>
    <!-- JavaScript -->
    <script data-th-src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script data-th-src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script data-th-src="@{/js/common.js}"></script>


</footer>
