
<footer class="navbar navbar-default " data-th-fragment="footer" xmlns:th="http://www.thymeleaf.org" style="min-height: 30px;margin-bottom: 0px;">
        <p class="text-center" style="line-height: 50px;line-height: 40px;margin-bottom: 0px;">© 2018 <a href="http://sixteen.site" target="_blank">sixteen.site</a></p>
   	<!-- JavaScript -->
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
 </footer>
